# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Development
.idea

# Deployment
/vendor/bundle
/vendor/cache
/config/secrets.yml
/config/initializers/kkuleomi_config.rb
/public/assets
