language: ruby
cache: bundler
rvm:
  - 2.2
  - 2.5

gemfiles:
  - Gemfile
  - Gemfile.ci # rails 5

branches:
  only:
    - master

services:
  - elasticsearch
  - redis-server

before_script:
  - cp config/secrets.yml.dist config/secrets.yml
  # Wait for Elasticsearch
  - sleep 10
  - bundle exec rake kkuleomi:index:init
