# The location of the repository used for the indexer
KKULEOMI_PORTDIR='/var/db/repos/gentoo'

# The location of the repository used for gathering runtime information
KKULEOMI_RUNTIME_PORTDIR='/mnt/packages-tree/gentoo/'

# The first actual git commit
# Set this to the second commit in the repo to avoid long changelog generation times
KKULEOMI_FIRST_COMMIT='c1de71edb35b118c3244c0d9d1b3f97c93d41969'

# Where does git(1) live?
KKULEOMI_GIT='git'

# GIT enabled?
KKULEOMI_DISABLE_GIT=false

# Who gets feedback
KKULEOMI_FEEDBACK_RECIPIENT='gpackages@gentoo.org'

# Default arches.
KKULEOMI_ARCHES=%w(amd64 x86 alpha arm arm64 hppa ia64 ppc ppc64 sparc)

# Cache settings
# deployment:
if ENV["MEMCACHE_URL"]
	Rails.application.config.cache_store = :mem_cache_store, ENV['MEMCACHE_URL']
end

# development:
# Rails.application.config.cache_store = :memory_store, { size: 64.megabytes }
# Rails.application.config.action_controller.perform_caching = true
