<ol class="breadcrumb">
  <li><a href="/"><%= t :home %></a></li>
  <li><%= link_to t(:use_flags), useflags_path %></li>
  <li class="active">Search</li>
</ol>

<h1>USE Flag Search Results <small>for <%= params[:q] %></small></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Results
  </div>
  <div class="list-group">
    <%= render partial: 'useflag_result_row', collection: @flags, as: 'useflag' %>
  </div>
</div>
