<ol class="breadcrumb">
  <li><a href="/"><%= t :home %></a></li>
  <li><a href="/about"><%= t :about %></a></li>
  <li class="active"><%= t :update_feeds %></li>
</ol>

<h1><%= t :update_feeds %></h1>

<p>
  You can find Atom feeds here:
</p>

<ul>
  <li>
     For all packages: Right column on the <a href="/categories">category listing</a>.
  </li>
  <li>
     For specific architectures: In the <a href="/arches">architectures section</a>.
  </li>
  <li>
     For specific packages: In the <em>Resources</em> box on the respective package pages.
  </li>
</ul>
