.kk-keyword-stable {
  background-color: #81C784;
  color: #2E7D32;
}

.kk-keyword-testing {
  background-color: #FFF176;
  color: #a08700;
}

.kk-keyword-unavailable {
  background-color: #d5d5d5;
  color: #666;
}

.kk-keyword-masked {
  background-color: #EF9A9A;
  color: #B71C1C;
}

.kk-keyword-unknown {
  background-color: #fafafa;
  color: #333;
}
